{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "BotName": "",
  "BotUserName": "",
  "BotConfiguration": {
    "BotToken": "",
    "HostAddress": ""
  },
  "ConnectionStrings": {
    "PostgreSQL": "host=db;database=SubredditDb;username=postgres;password=postgres",
  },
  "AllowedHosts": "*"
}
